/bin/
LSLRecorder/src/testing/
*.cfg
LSLRecorder_test.jar
liblsl64_2016.dll
*.clis
*.temp2
*.temp1
*.sync
*.log
*.cfg
.fuse_hidden0002432900000721
*.temp0
*.h5
*.mat
/nbproject/private/
/build/
*.xml
*.mf
*.properties
ImportClisData/Python/__pycache__/ClisData.cpython-38.pyc
*.temp3
*.temp4
*.temp6
*.temp5
*.temp7
*.temp8
*.temp11
*.temp9
*.temp12
*.temp10
*.temp13
*.temp14
*.temp15
*.temp16
*.temp17
*.temp19
*.temp18
ImportClisData/Python/.idea/Python.iml
ImportClisData/Python/__pycache__/ClisData.cpython-36.pyc
